terratowns_endpoint="https://terratowns.cloud/api"
kpop = {
  public_path = "/public/kpop"
  content_version = 1 
}
fall = {
  public_path = "/public/fall"
  content_version = 1 
}
bike = {
  public_path = "/public/bike"
  content_version = 1 
}